<p id="notice"><%= notice %></p>

<h1>To do lists</h1>

<%= render @user_tasks %>

    <% @usertasks.each do |usertask| %>
      <tr>
        <td><%= usertask.description %></td>
        <td><%= usertask.due %></td>

<%= link_to 'New User task', new_user_task_path, remote: true %>
<div id= "task_form"></div>
